<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Site</title>
  </head>
  <body>
    <h1>Sign Up Now</h1>
    <form action="" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="Enter Username Here"/>
      <label for="password">Password</label>
      <input type="password" name="password" />
      <button>Sign Up</button>
    </form>
  </body>
</html>
